<div class="contenedor-login">
  <div class="card p-4" style="max-width: 550px; width: 100%;">
    <div class="d-flex align-items-center">

      <div class="logo me-5 text-center">
        <img src="logo.png" alt="Logo" class="img-fluid" style="max-width: 180px;" />
      </div>

      <div class="flex-grow-1">
        <h4 class="text-center mb-4 titulo-login">Iniciar sesion</h4>

        <form [formGroup]="loginForm" (submit)="login()">
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="usuario@workzen.es" formControlName="user"/>
            @if (loginForm.controls.user.touched && loginForm.controls.user.hasError('required')) {
              <div class="form-text text-danger">
                El usuario es obligatorio
              </div>
            }

            @if (loginForm.controls.user.touched && loginForm.controls.user.hasError('email')) {
              <div class="form-text text-danger">
                Debe introducir un email válido
              </div>
            }
          </div>

          <div class="mb-3">
            <input type="password" class="form-control" placeholder="Contraseña" formControlName="pass" (keypress)="login($event)" />
            @if (loginForm.controls.user.touched && loginForm.controls.pass.hasError('required')) {
              <div class="form-text text-danger">
                La contraseña es obligatoria
              </div>
            }
          </div>

          <button class="btn btn-login w-100" type="button" (click)="login()">
            Entrar
          </button>

          @if (mensaje) {
            <div class="alert alert-danger mt-3 p-2">
              {{ mensaje }}
            </div>
          }
        </form>
      </div>
    </div>
  </div>
</div>
